<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/background/guntur.jpg');">
        <div class="filter"></div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="./assets/img/patricia.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">Patricia Balla<br /></h4>
                    <h6 class="description">Medical Superintendent</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>MBBS, Christian Medical College (CMC) Vellore, Dr.M.G.R. Medical University, Chennai. Duration: 1984 – 1988.

                           <br> Diploma in Gynecology and Obstetrics (DGO) Christian Medical College (CMC) Vellore. Dr.M.G.R. Medical University, Chennai. Duration: 1992 – 1994.
                            
                          <br>  MD, Obstetrics and Gynecology, Christian Medical College (CMC) Vellore. Dr.M.G.R. Medical University, Chennai. Duration: 1994 – 1997.</p>
                    <br />
                    
                </div>
            </div>
            <br/>
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ngb-tabset [justify]="'center'">
                        <ngb-tab title="Admin Staff">
                            <ng-template ngbTabContent >
                                <div class="row following" id="follows">
                                    <div class="col-md-6 ml-auto mr-auto">
                                        <ul class="list-unstyled follows">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/samosn.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Samson Nallapu<br/><small>Director</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                      
                                                    </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/sheela.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Sheela Balla<br /><small> Counsellor</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                           
                                                        </div>
                                                    </div>
                                            
                                                <div class="row">
                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                        <img src="./assets/img/staff/prasad.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                    </div>
                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                        <h6>Prasad Neelam<br /><small>Senior Manager</small></h6>
                                                    </div>
                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                       
                                                    </div>
                                                </div>
                                        
                                                   
                                                    
                                                    <div class="row">
                                                            <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                <img src="./assets/img/staff/drsarala.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                            </div>
                                                            <div class="col-md-7 col-sm-4 ml-auto">
                                                                <h6>Dr. Sarala<br /><small>Senior Advisor</small></h6>
                                                            </div>
                                                            <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                               
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                                <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                    <img src="./assets/img/priya.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                <div class="col-md-7 col-sm-4 ml-auto">
                                                                    <h6>Priyansha Nallapu<br /><small>Management Advisor</small></h6>
                                                                </div>
                                                                <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                   
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                        <img src="./assets/img/david.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                    </div>
                                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                                        <h6>David Nallapu<br /><small>IT Support</small></h6>
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                       
                                                                    </div>
                                                                </div>

                                                </li>
                                        </ul>
                                        <hr>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="Medical Staff">
                                <ng-template ngbTabContent >
                                    <div class="row following" id="follows">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <ul class="list-unstyled follows">
                                                    <li>
                                                            <div class="row">
                                                                <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                    <img src="./assets/img/staff/shanthi.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                <div class="col-md-7 col-sm-4 ml-auto">
                                                                    <h6>Dr. Shanthi<br/><small>Cardio Respiratory Physiotherapist</small></h6>
                                                                </div>
                                                                <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                  
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <div class="row">
                                                                <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                    <img src="./assets/img/staff/imm.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                <div class="col-md-7 col-sm-4 ml-auto">
                                                                    <h6>Immanuel<br /><small>Medical Supervisor</small></h6>
                                                                </div>
                                                                <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                   
                                                                </div>
                                                            </div>
                                                        <li>
                                                                <div class="row">
                                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                        <img src="./assets/img/staff/sharon.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                    </div>
                                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                                        <h6>Sharon<br/><small>Medical OP nurse</small></h6>
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                      
                                                                    </div>
                                                                </div>
                                                            </li>
                                                <li>
                                                    <div class="row">
                                                        <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                            <img src="./assets/img/staff/jyothi.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                        <div class="col-md-7 col-sm-4 ml-auto">
                                                            <h6>Jyothi<br/><small>Medical nurse</small></h6>
                                                        </div>
                                                        <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                          
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                <img src="./assets/img/staff/fairy.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                            </div>
                                                            <div class="col-md-7 col-sm-4 ml-auto">
                                                                <h6>Fairy<br/><small>Medical nurse</small></h6>
                                                            </div>
                                                            <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                              
                                                            </div>
                                                        </div>
                                                    </li>

                                                    <li>
                                                            <div class="row">
                                                                <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                    <img src="./assets/img/staff/guy.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                </div>
                                                                <div class="col-md-7 col-sm-4 ml-auto">
                                                                    <h6>Samuel<br/><small>Lab incharge</small></h6>
                                                                </div>
                                                                <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                  
                                                                </div>
                                                            </div>
                                                        </li>
                                                <hr />
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </ng-template>
                            </ngb-tab>

                            <ngb-tab title="Support Staff">
                                    <ng-template ngbTabContent >
                                        <div class="row following" id="follows">
                                            <div class="col-md-6 ml-auto mr-auto">
                                                <ul class="list-unstyled follows">
                                                    <li>
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                <img src="./assets/img/staff/krup.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                            </div>
                                                            <div class="col-md-7 col-sm-4 ml-auto">
                                                                <h6>Krupamma<br/><small> Janitor</small></h6>
                                                            </div>
                                                            <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                            </div>
                                                        </div>
                                                  
                                                            <div class="row">
                                                                    <div class="col-md-2 col-sm-2 ml-auto mr-auto">
                                                                        <img src="./assets/img/staff/raji.jpeg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                                    </div>
                                                                    <div class="col-md-7 col-sm-4 ml-auto">
                                                                        <h6>Asirvadam<br/><small>Support head</small></h6>
                                                                    </div>
                                                                    <div class="col-md-3 col-sm-2 ml-auto mr-auto">
                                                                    </div>
                                                                </div>
                                                    </li>
                                                    <hr />
                                                </ul>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>
