
    <div class="page-header" data-parallax="true" style="background-image: url('assets/img/hosp.png')">


        <div class="filter"></div>

           

                <div class="container">
                    <div class="motto text-center">
                    
                    <h1 >Ruth Sigmon Memorial Lutheran Hospital</h1>
                    <h4>Healing through Christ</h4>
                    <br>
                    <a href="https://www.youtube.com/watch?v=--1u4C_g4jI " class="btn btn-outline-neutral btn-round">
                        
                    <i class="fa fa-play"></i>Watch video</a>
        
                </div>

           
            
        </div>
    
        
        <h6 class=" category-absolute ml-auto mr-auto">
        <!-- <h6 class="category category-absolute">Designed and coded by -->

            <!-- <a href="https://in.linkedin.com/in/davidnallapu" target="_blank">
                David nallapu
            </a> -->
        </h6>
        </div>

            <div class="main">
                    <div class="section text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 mr-auto ml-auto">
                                    <h2 class="title">Welcome!</h2>
                                    <hr>
                                    <h5>
                                        

                                        RSMLH is located in the city of Guntur in the state of Andhra Pradesh of India, this hospital was started by a husband and wife team of health professionals with considerable experience, to provide cost effective comprehensive health care with emphasis on Healing from Christ for the masses. <br><br>This hospital has been started in an old missionary bungalow situated in the Heyer Hall Compound of the Andhra Evangelical Lutheran Church. 
           
                                        The Bungalow is about 100 years old and has been renovated. It was the place where the founding missionaries lived during their extensive work of building Churches, educational institutes and Hospitals.  The last of these missionaries of the AELC was the late Ms. Ruth Sigmon. She served for 50 years among orphans and women in Guntur and the surrounding villages. The hospital has been named in her memory as she lived in this bungalow.
           
                                  
           
                                       <br><br> The hospital was established in 2010. Over the years in addition to the basic outpatient and inpatient medical facilities, we are now able to provide surgical, gynecological, medical and paediatric services. Patients have shown great interest in our unique method of physical, spiritual and emotional healing. We hope to expand our mission as we grow every day with the help of the Healing power of Jesus. 
                                    </h5><br>
                                
                                </div>
                        </div>
                        <br/><br/>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                        <img  height = "80px" src="./assets/img/bible.png" >
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Praying</h4>
                                        <p class="description">Every single patient who enters RSMLH encounters God through prayers with staff during every procedure</p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                            <img  height = "80px" src="./assets/img/counseling.png" >
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Counseling</h4>
                                        <p>Counseling of patients and their families is an integral part of patient care here.</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                            <img  height = "80px" src="./assets/img/expertise.png" >
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Expertise</h4>
                                        <p>Comprehensive evidence based cost effective expert care is given to every single patient.</p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="info">
                                    <div class="icon icon-danger">
                                            <img  height = "80px" src="./assets/img/equip.jpg" >
                                    </div>
                                    <div class="description">
                                        <h4 class="info-title">Equipment</h4>
                                        <p>Top of the line equipment is available with skilled technical care.</p>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </div>
                
                <div class="section section-dark text-center">
                    <div class="container">
                        <h2 class="title">Meet the founders</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-profile card-plain">
                                    <div class="card-avatar">
                                        <a href="#avatar"><img src="./assets/img/patricia.jpg" alt="..."></a>
                                    </div>
                                    <div class="card-block">
                                        <a>
                                            <div class="author">
                                                <h4 class="card-title">Patricia Balla</h4>
                                                <h6 class="card-category">Medical Superintendentent</h6>
                                            </div>
                                        </a>
                                        <p class="card-description text-center">
                                                Our vision is to provide accessible, affordable state-of-the-art healthcare services to all with an emphasis on the marginalised and needy for the glory of God.
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                            <a href="https://www.facebook.com/patricia.christina.313" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                                
                            </div>
            
                            <div class="col-md-6">
                                <div class="card card-profile card-plain">
                                    <div class="card-avatar">
                                        <a href="#avatar"><img src="./assets/img/samosn.jpeg" alt="..."></a>
                                    </div>
                                    <div class="card-block">
                                        <a href="#paper-kit">
                                            <div class="author">
                                                <h4 class="card-title">Samson Nallapu</h4>
                                                <h6 class="card-category">Director</h6>
                                            </div>
                                        </a>
                                        <p class="card-description text-center">
                                       RSMLH was established to empower people with the right knowledge and attitiude to make short term and long term health care decisions in their lives and in those of their loved ones.
                                        </p>
                                    </div>
                                    <div class="card-footer text-center">
                                        <a href="https://www.linkedin.com/in/samson-nallapu-65980219/" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                                        <a href="https://www.facebook.com/samson.s.nallapu" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-facebook-square"></i></a>
                                    </div>
                                </div>
                            </div>
                
                            
                            </div>
                        </div>
                    </div>
                </div>



            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>

        <!-- <app-components></app-components> -->
        
        
        
        
        <div class="section">
            <div class="container text-center">
                
                <div class="row justify-content-md-center sharing-area text-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h3>Thank you for supporting us!</h3>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://www.facebook.com/Ruth-Sigmon-Memorial-Lutheran-Hospital-471648896714391" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="Share!">
                            <i class="fa fa-facebook-square"></i> Facebook
                        </a>
                     </div>
                </div>
            </div>
        </div>



